//rem better support
html {
    font-size: 62.5%;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: $m-size;
}

div {
    margin-top: 3rem;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li{display: inline; margin-right: 10px}

li:hover {
    background-color: rgb(72, 243, 4);
    color: white;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: violet;
}

a:hover {
    color: greenyellow;
}

h1 {
    font-size: 2.2rem;
}

button {
    cursor: pointer;
}

button:disabled {
    cursor: default;
}

.is-active {
    font-weight: bold;
}